<nav class="navbar navbar-light bg-light"> <span class="navbar-brand mb-0 h1"> <img src="assets/image/logocolor.png"
      alt=""> </span> </nav>
<div class="container">
  <ul class="nav nav-tabs mt-2">
    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#usuarios">Usu-arios</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#registro">Registro</a> </li>
  </ul>
  <div class="tab-content">
    <div class="container tab-pane active" id="usuarios">
      <app-usuarios-lista></app-usuarios-lista>
    </div>
    <div class="tab-pane" id="registro">
      <app-usuario-frm></app-usuario-frm>
    </div>
  </div>
</div>
<router-outlet></router-outlet>