<div class="card mt-2">
    <div class="card-body text-center">
        <div class="row">
            <div class="col-md-4"><img src="/assets/img/{{ fruta1 }}"/></div>
            <div class="col-md-4"><img src="/assets/img/{{ fruta2 }}"/></div>
            <div class="col-md-4"><img src="/assets/img/{{ fruta3 }}"/></div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-primary btn-block" (click)="generarAleatorio()">Jugar</button>
        <br/>
        <h1 class="text-center">{{texto}} </h1>
    </div>
</div>