<div class="mt-2">
    <nav class="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Inicio</li>
            <li class="breadcrumb-item active" aria-current="page">Eventos</li>
        </ol>
    </nav>
</div>

<div class="card mt-2">
    <div class="card-body text-center">
        <h1>{{ numero }}</h1>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-primary" (click)="generarAleatorio()">Generar Aleatorio</button>
        <button class="btn btn-secondary ml-2" (click)="incrementar()">Incrementar</button>
        <button class="btn btn-info ml-2" (click)="decrementar()">Decrementar</button>
    </div>
</div>